#myModal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.hidden {
    display: none;
}

/* Modal Content/Box */
.modal-content {
    background-color: lightgray;
    text-align: center;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    background-color: gray;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    margin: 15px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    margin: 15px;
    /*padding: 15px 15px;*/
    text-decoration: none;
}


li a:hover {
    background-color: gray;
    color: white;
}

.color {
    background-color: gray;
    width: 100%;
}

.left {
    background-color: lightgray;
    float:left;
    border: 2px solid black;
    width: 180px;
}

.left_bar {
    margin: 5px;
    text-align: center;
}

.article {
    margin: 15px 200px;
    width: 900px;
    text-align: center;
}

 .box {
    background-color: lightgray;
    padding: 5px;
    margin-top: 15px;
    border: 5px solid black;
 }

 hr {
    color: black;
 }